<% include partials/head.ejs %>
<% include partials/header.ejs %>
<% include partials/navigation.ejs %>
<main tabindex="0" role="main" class="main loginMain">
	<section class="loginPage">
		<h1><%= title %></h1>
		<form action="/auth/login" method="POST" class="loginForm">
			<% if (typeof status != 'undefined') { %>
				<span class="errorMessage"><%= status %></span>
			<% } %>
			<div>
				<label for="loginForm__username">Brugernavn</label>
				<input class="inputFrontend" type="text" name="username" id="loginForm__username">
			</div>
			<div>
				<label for="loginForm__passphrase">Adgangskode</label>
				<input class="inputFrontend" type="password" name="passphrase" id="loginForm__passphrase">
			</div>
			<button type="submit" class="btn-front">Log in</button>
		</form>
	</section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>