<% include partials/head.ejs %>
<% include partials/header.ejs %>
<% include partials/navigation.ejs %>
<main tabindex="0" role="main" class="main" id="maincontent">
	<section class="frontSection">
		<div class="intro">
			<h2>Oluf Graversvejs Kontorfællesskab</h2>
			<p>Vi tilbyder kontorpladser til kreative selvstændige i åbne og lyse lokaler midt i København N.</p>
			<p>I kælderen er der desuden mulighed for at parkere cykler.</p>
			<p>Ring til os og hør nærmere om mulighederne og lejepriser.</p>
			<ul class="featuresList">
				<h2>Lejere har adgang til</h2>
				<li>egen kontorplads i et åbent miljø</li>
				<li>mødelokale med videokonferencefaciliteter (bookes efter aftale)</li>
				<li>printer og kopimaskine</li>
				<li>fiber internet forbindelse</li>
				<li>frokoststue med lille køkken og køleskab</li>
				<li>badeværelse og omklædningsrum</li>
			</ul>
		</div>
	</section>
	<section class="frontSection">
		<figure class="imageFront">
			<img src="/media/kontorplads.jpg" alt="">
			<img src="/media/lokaler.jpg" alt="">
			<img src="/media/mødelokale.jpg" alt="">
		</figure>
	</section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>