<% include partials/head.ejs %>
<% include partials/header.ejs %>
<% include partials/navigation.ejs %>
<main tabindex="0" role="main" class="main" id="maincontent">
		<article>
			<h2><%= page.name %></h2>
			<img src="./media/<%= page.image %>" alt="">
			<p><%= page.content %></p>
			<p><%= page.fk_author %></p>
		</article>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>