<nav class="adminPrimaryNavigation" role="navigation">
	<ul id="myAdminSidenav">
		<li><a href="/admin"><i class="fas fa-home"></i> Forside</a></li>
		<hr>
		<li><a href="/admin/billeder"><i class="fas fa-image"></i>Media</a></li>
		<hr>
		<li><a href="/admin/menu"><i class="fas fa-bars"></i> Menuen</a></li>
		<li><a href="/admin/kategorier"><i class="fas fa-list-ul"></i> Kategorier</a></li>
		<hr>
		<li><a href="/admin/sider"><i class="fas fa-sitemap"></i> sider</a></li>
		<li><a href="/admin/annoncer"><i class="fas fa-box"></i> Annoncer</a></li>
		<li><a href="/admin/artikler"><i class="fas fa-book"></i> Artikler</a></li>
		<hr>
		<li><a href="/admin/events"><i class="fas fa-book"></i> Events</a></li>
		<li><a href="/admin/sale"><i class="fas fa-book"></i> Sale</a></li>
		<hr>
		<li><a href="/admin/brugere"><i class="fas fa-user"></i> Brugere</a></li>
		<hr>
	</ul>
</nav>
