@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

body {
    font-family: 'Pontano Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main:focus, footer:focus {
    outline: none;
}
#wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.siteHeader {
    display: flex;
    flex-wrap: wrap;
    height: 5vw;
    min-height: 40px;
    justify-content: space-around;
    background-color: blue;
    color: black;
}
#mySidenav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    list-style: none;
    background-color: black;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 30vw;
}
.siteFooter {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
/* Admin */
#adminWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20px minmax(15em, auto);
}

.adminSiteHeader {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: orange;
}

.adminPrimaryNavigation {
    grid-column: 1/2;
    grid-row: 2/-1;
    background-color: greenyellow;
}

.adminPage {
    grid-column: 2/-1;
    grid-row: 2/-1;
    padding: 2em;
}