input, select {
    height: 2em;
    max-width: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid orange;
    padding-left: 0.4em;
}
textarea {
    height: 200px;
    width: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid orange;
    padding-left: 0.4em;
}
label {
    margin-top: 0.4em;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid orange;
}

.postForm,
.editForm {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 0.4em;
    padding: 0.5em 2em;
    width: 10em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: greenyellow;
}

.userItem,
.menuItem {
    display: flex;
    align-items: center;
}

.imageList {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}

.imageContainer {
    margin: 0.5em;
    padding: 0.5em;
    border: 0.5em solid greenyellow;
}

.imageFront {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}
.intro {
    min-height: 20vw;
    text-align: center;
}
.featuresList{
    list-style: none;
}