.adverts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 29vw;
    border: #000 1px solid;
    box-shadow: blue 2px 2px;
    margin: 0.5em;
}
.adverts h2 {
    background-color: #000;
    color: white;
    width: 100%;
}

.adverts p {
    background-color: white;
    color: #000;
    width: 100%;
}

.adslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
}

.frontSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 49vw;
    min-width: 400px;
    height: 100%;
}
.bookConfRoom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 400px 1fr;
}
.bookTimeConfH2 {
    grid-column: 1/-1;
    grid-row: 1/span 1;
}

.bookTimeConfTable {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    overflow: scroll;
    overflow-x: hidden;
    width: 400px;
}
.bookConfRoomDate {
    display: flex;
    flex-direction: column;
}
.loginMain {
    display: flex;
    justify-content: center;
}
.loginPage {
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.chooseDateForm,
.loginForm {
    display: flex;
    flex-direction: column;
}

.userBookings {
    display: flex;
    width: 80vw;
    justify-content: space-around;
}